version: '3.8'

services:
  web-terminal:
    build: .
    container_name: web-terminal
    ports:
      - "7681:7681"
    restart: unless-stopped
    stdin_open: true
    tty: true
    env_file:
      - .env
    environment:
      - TERM=xterm-256color
      - FORCE_COLOR=1
      - CI=false
      - COLORTERM=truecolor
    volumes:
      - terminal-data:/home/terminal

  # Uncomment if you want to run Streamlit app alongside
  #streamlit-app:
  #  build: ./app
  #  container_name: streamlit-manager
  #  ports:
  #    - "8501:8501"
  #  restart: unless-stopped
  #  environment:
  #    - PYTHONUNBUFFERED=1
    
# Make data persistent accross run / reinstalls / restarts
volumes:
  terminal-data:
