version: '3.8'

services:
  web-terminal:
    build: .
    container_name: web-terminal
    ports:
      - "7681:7681"
    restart: unless-stopped
    stdin_open: true
    tty: true
    env_file:
      - .env
    environment:
      - TERM=xterm-256color
      - FORCE_COLOR=1
      - CI=false
      - COLORTERM=truecolor
    volumes:
      - terminal-data:/home/terminal
      - shared_data:/home/terminal/shared_data

  streamlit-app:
    build: ./app
    container_name: streamlit-manager
    ports:
      - "8501:8501"
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - shared_data:/shared_data

  data-container:
    image: nginx:alpine
    container_name: data-container
    ports:
      - "8080:80"
    restart: unless-stopped
    volumes:
      - shared_data:/usr/share/nginx/html
    command: >
      sh -c "echo 'server { listen 80; root /usr/share/nginx/html; location / { autoindex on; autoindex_exact_size off; autoindex_localtime on; index _non_existent_file_; } }' > /etc/nginx/conf.d/default.conf &&
             echo 'Server is running. Shared data available at http://localhost:8080/' &&
             nginx -g 'daemon off;'"

# Make data persistent accross run / reinstalls / restarts
volumes:
  terminal-data:
  shared_data:
